---
import Layout from '@layouts/BaseLayout.astro';
---

<Layout>

	<h1>ESTIAM E5 CCSN</h1>

  <h2>Modules</h2>

	<ul>
		<li><a href="/estiam/linux">Advanced Linux Administration Expert</a></li>
		<li><a href="/estiam/vdc">Virtual Data Center Automation</a></li>
	</ul>

</Layout>

