---
import Layout from '@layouts/PromoLayout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Modules CESI 2e année" mail="cesi@avenel.pro" agenda="">

  <h2>Anciens Modules</h2>

	<ul>
	  <li><a href="/cesi/b2/tests"><Icon name="test-tube-solid" /> 2e année CDA : Tests et recette des applications</a></li>
	</ul>

</Layout>

