---
import Layout from '@layouts/PromoLayout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Modules CESI 4e année" mail="cesi@avenel.pro" agenda="">

  <h2>Modules</h2>

	<ul>
		<li><a href="/cesi/m1/dashboard"><Icon name="speedometer2" /> MAALSI25 : Tableaux de bord</a></li>
	</ul>

</Layout>

