---
import Layout from '@layouts/EpsiLayout.astro';
---

<Layout promo="WIS3" >

	<h2>Anciens Modules</h2>

	<ul>
		<li><a href="/epsi/wis3/scrum">🤼 Méthodologie agile Scrum</a></li>
	</ul>

</Layout>

