---
import Layout from '@layouts/PromoLayout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Modules WIS3" mail="tom.avenel@mail-formateur.net" >

	<h2>Anciens Modules</h2>

	<ul>
		<li><a href="/epsi/wis3/scrum">🤼 Méthodologie agile Scrum</a></li>
	</ul>

</Layout>

