---
import Layout from '@layouts/PromoLayout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Modules EPSI B3" mail="tom.avenel@mail-formateur.net" agenda="https://acloud5.zaclys.com/index.php/apps/calendar/p/MCkczwFrwNgqcR9N">

	<h2>Modules</h2> 

	<ul>
		<li><a href="/epsi/b3/devops"><Icon name="infinity" /> Devops et Sysops</a></li>
		<li><a href="/epsi/b3/methodo-tests"><Icon name="test-tube-solid" /> Tests unitaires (Filière DevIA FS)</a></li>
		<li><a href="/epsi/b3/indus-tests"><Icon name="test-tube-solid" /> Industrialisation des tests logiciels (Filière DevIA FS)</a></li>
	</ul>

	<h2>Anciens Modules</h2> 

	<ul>
		<li><a href="/epsi/b3/docker"><Icon name="docker" /> Docker : introduction aux conteneurs</a></li>
		<li><a href="/epsi/b3/linux-asrbd"><Icon name="linux" /> Atelier Environnement Linux</a></li>
		<li><a href="/epsi/b3/python"><Icon name="python" /> Python</a></li>
		<li><a href="/epsi/b3/django"><Icon name="django" /> Le framework Django</a></li>
		<li><a href="/epsi/b3/scrum"><Icon name="agile" /> Méthodologie agile Scrum</a></li>
	</ul>

</Layout>
