---
import Layout from '@layouts/EpsiLayout.astro';
---

<Layout promo="M1" agenda="https://acloud5.zaclys.com/index.php/apps/calendar/p/x5PQaEqx48942tcy">

<h2>Modules</h2>

	<ul>
		<li><a href="/promotions/esgi/m1/devops">󱃾  Conteneurs et Devops</a></li>
	</ul>

</Layout>

