---
import Layout from '@layouts/PromoLayout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Modules ESGI M2" mail="tavenel@myges.fr" agenda="https://acloud5.zaclys.com/index.php/apps/calendar/p/zmxjBNSD6sCJApGX">

<h2>Filière AL</h2>

	<ul>
		<li><a href="/esgi/m2/ddd">🤝 Domain-Driven Design</a></li>
	</ul>

<h2>Filière IW</h2>

	<ul>
		<li><a href="/esgi/m2/k8s-dev"><Icon name="kubernetes" /> Clusterisation de conteneurs</a></li>
	</ul>

<h2>Filière SRC</h2>

	<ul>
		<li><a href="/esgi/m2/k8s-admin"><Icon name="kubernetes" /> Kubernetes pour l'administrateur système (modules 1, 2 et 3)</a></li>
	</ul>

<h2>Anciens Modules</h2>

	<ul>
		<li><a href="/esgi/m2/cicd"><Icon name="jenkins" /> Solutions de déploiements continus CI/CD</a></li>
		<li><a href="/esgi/m2/devops"><Icon name="kubernetes" /> Ingénierie DevOps (Gestion d'infrastructure de production)</a></li>
	</ul>

</Layout>
