---
import Layout from '@layouts/PromoLayout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Modules ESGI M2" mail="tavenel@myges.fr" agenda="https://acloud5.zaclys.com/index.php/apps/calendar/p/zmxjBNSD6sCJApGX">

<h2>Modules</h2>

	<ul>
		<li><a href="/esgi/m2/ddd"><Icon name="briefcase" /> Domain-Driven Design (Filière AL)</a></li>
		<li><a href="/esgi/m2/k8s-admin"><Icon name="kubernetes" /> Kubernetes pour l'administrateur système (Filière SRC)</a></li>
		<li><a href="/esgi/m2/terraform"><Icon name="terraform" /> Terraform (Filière SRC)</a></li>
	</ul>

<h2>Anciens Modules</h2>

	<ul>
		<li><a href="/esgi/m2/cicd"><Icon name="jenkins" /> Solutions de déploiements continus CI/CD (Filières IW & AL)</a></li>
		<li><a href="/esgi/m2/devops"><Icon name="infinity" /> Ingénierie DevOps (Gestion d'infrastructure de production) (Filières IW & AL)</a></li>
		<li><a href="/esgi/m2/k8s-dev"><Icon name="kubernetes" /> Clusterisation de conteneurs (Filière IW)</a></li>
	</ul>

</Layout>
