---
import RSS from '@components/RSS.astro';
import Layout from '@layouts/Layout.astro'

const title = '/home/tavenel';
const { url } = Astro.props;
---

<Layout title={title} url={url}>
	<h1>/home/tavenel</h1>

	<div>
		<p>Welcome to Tom Avenel's website.</p>
		<p>You can subscribe to updates using RSS <RSS width="20" height="20"/></p>
	</div>
</Layout>

