---
import { Picture } from 'astro:assets';
import rssIcon from '../assets/rss.png';

import Layout from '../layouts/Layout.astro'

const title = '/home/tavenel';
const { url } = Astro.props;
---

<Layout title={title} url={url}>
	<h1>/home/tavenel</h1>

	<div>
		<span>Welcome to Tom Avenel's website.</span>
		<a href="rss.xml"><Picture src={rssIcon} alt="The RSS logo icon." width="20" height="20"/></a>
	</div>
</Layout>

