---
import Layout from '@layouts/BaseLayout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout>

	<h1>Promotions</h1>

  <h2>EPSI</h2>

	<ul>
		<li><a href="/epsi/sn2/">SN2</a></li>
		<li><a href="/epsi/b3/">B3</a></li>
		<li><a href="/epsi/i1/">I1</a></li>
		<li><a href="/epsi/i2/">I2</a></li>
		<li><a href="/epsi/wis3/">WIS3</a></li>
	</ul>

  <h2>ESGI</h2>

	<ul>
		<li><a href="/esgi/b2/">B2</a></li>
		<li><a href="/esgi/b3/">B3</a></li>
		<li><a href="/esgi/m1/">M1</a></li>
		<li><a href="/esgi/m2/">M2</a></li>
	</ul>

  <h2>CESI</h2>

	<ul>
	  <li><a href="/cesi/b3/tests"><Icon name="test-tube-solid" /> CDA25 : Tests et recette d'un projet informatique</a></li>
		<li><a href="/cesi/b3/linux"><Icon name="linux" /> B3 ASR : Linux avancé</a></li>
		<li><a href="/cesi/m1/dashboard"><Icon name="speedometer2" /> MAALSI25 : Tableaux de bord</a></li>
		<li><a href="/cesi/m2">MAALSI24</a></li>
	</ul>

  <h2>ESTIAM</h2>

	<ul>
		<li><a href="/estiam/linux"><Icon name="linux" /> E5 : Advanced Linux administration expert</a></li>
	</ul>

</Layout>

