---
import Layout from '@layouts/BaseLayout.astro';
---

<Layout>

	<h1>Promotions EPSI</h1>

  <h2>Promotions</h2>

	<ul>
		<li><a href="/epsi/sn2/">SN2</a></li>
		<li><a href="/epsi/b3/">B3</a></li>
		<li><a href="/epsi/i1/">I1</a></li>
		<li><a href="/epsi/i2/">I2</a></li>
		<li><a href="/epsi/wis3/">WIS3</a></li>
	</ul>

</Layout>

