---
import GitRepos from "./GitRepos.astro";
import License from "./License.astro";
import RSS from "./RSS.astro";
---
<footer>
	<hr class="footer">
	<div>
		<License />
  	<span><a href="/website">Sources, crédits et informations : 🌐 Website</a>.</span>
		<GitRepos width={20} height={20} />
		<RSS width={20} height={20} />
	</div>
</footer>

<style>

footer {
	font-style: italic;
	font-size: x-small;
}

</style>
