---
import { Icon } from 'astro-icon/components';

const { width, height } = Astro.props;
type Props = {
	width: number,
	height: number,
};
---

<a href="https://github.com/tavenel"><Icon name="github" alt="The Github logo." width={width} height={height} /></a>
<a href="https://git.sr.ht/~toma"><Icon name="sourcehut" alt="The Sourcehut logo." width={width} height={height} /></a>
