---
import '@css/styles.css'

// ClientRouter transforms the website into an SPA
// import { ClientRouter } from 'astro:transitions'; // TODO
import { Font } from 'astro:assets';
import FontAwesome from './FontAwesome.astro';

import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';

const { title, url } = Astro.props;
type Props = {
	title: string,
	url: string,
};
---

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="generator" content={Astro.generator} />
	<meta name="copyright" content="© 2025 Tom Avenel" />
	<meta name="robots" content="DisallowAITraining" />
	<link rel="canonical" href={Astro.url} />
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎓</text></svg>" />
	<link rel="apple-touch-icon" href="/icons/apple-touch-icon.png" />
	<link rel="android-chrome-192x192" type="image/png" sizes="192x192" href="/icons/android-chrome-192x192.png" />
	<link rel="android-chrome-512x512" type="image/png" sizes="512x512" href="/icons/android-chrome-512x512.png" />
	<link rel="manifest" href="/site.webmanifest" />
	<link rel="sitemap" href="/sitemap-index.xml" />
	<link rel="alternate" type="application/rss+xml" title="Tom Avenel" href={new URL("rss.xml", Astro.site)} />
	<meta name="description" content="Tom Avenel personal website. Tech articles, teachings, and more." />
	<meta name="theme-color" content="#000000" />
	<meta name="pwa-capable" content="yes" />

	<Font cssVariable='--font-main' preload />
  <FontAwesome />
	<style>
	  body {
			font-family: var(--font-main);
		}
	</style>

	<script>
	// PWA
	if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register(
			'/service-worker.js', {
				scope: '/'
			}
		)
	}
	</script>
	<title>{title}</title>
	<!-- <ClientRouter /> -->
	<Analytics />
	<SpeedInsights />
</head>

