---
import { Icon } from 'astro-icon/components';
---
<span class="license">
	<Icon name="c-circle" /> <a href="http://creativecommons.org/licenses/by-sa/4.0" target="_blank" rel="license noopener noreferrer" style="display:inline-block;"><Icon name="badge-cc" /> BY-SA 4.0</a> Tom Avenel
</span>
