---
import PageFind from "./PageFind.astro";
import Promotions from "./Promotions.astro";
import ThemeSwitcher from "./ThemeSwitcher.astro";

import { Icon } from 'astro-icon/components'

---
<menu>
	<li id="menu-home"><a href="/" data-testid="menu-home-link"><Icon name="material-symbols--home-outline-rounded"/> Home</a></li>
	<li id="menu-promos"><Promotions/></li>
	<!--<li id="menu-favorites"><a href="/favorites" data-testid="menu-favorites-link">🌟 Favorites</a></li>-->
	<li id="menu-about"><a href="/about" data-testid="menu-about-link"><Icon name="material-symbols--article-person-outline"/> About me</a></li>
	<li><PageFind/></li>
	<li><ThemeSwitcher/></li>
</menu>

<style>

#menu-home > a { color: var(--menu-home); }
#menu-tech > a { color: var(--menu-tech); }
#menu-cours > a { color: var(--menu-cours); }
#menu-favorites> a { color: var(--menu-favorites); }
#menu-links > a { color: var(--menu-links); }
#menu-about > a { color: var(--menu-about); }
/* #menu-search > a { color: var(--menu-search); } */

menu > li {
	display: inline-block;
	padding-left: 1em;
	font-size: x-large;
}

</style>
