<button id="print-link" class="link">Exporter en PDF</div>

<script>
	const element = document.getElementById("print-link");
	element.addEventListener('click', () => {
			window.print();
		});
</script>
