<div id="print-link">
	<a href="#">Exporter en PDF</a>
</div>

<script>
	const element = document.getElementById("print-link");
	element.addEventListener('click', () => {
			window.print();
		});
</script>
