---
import { Icon } from 'astro-icon/components'
---

<div id="promos">
  <span id="currentPromo">Aucune Promotion</span>
  <label for="promoSelect" id="promoButton"><button class="link" title="Changer de promotion"><Icon name="caret-down" /> </button></label>
  <select name="promoSelect" id="promoSelect" class="hidden">
		<optgroup label="EPSI">
  	  <option value="/epsi/b3">B3</option>
  	  <option value="/epsi/i1">I1</option>
  	  <option value="/epsi/i2">I2</option>
		</optgroup>
		<optgroup label="ESGI">
  	  <option value="/esgi/b2">B2</option>
  	  <option value="/esgi/b3">B3</option>
  	  <option value="/esgi/m1">M1</option>
  	  <option value="/esgi/m2">M2</option>
		</optgroup>
		<optgroup label="CESI">
  	  <option value="/cesi/b2">B2</option>
		</optgroup>
  </select>
</div>

<script>

import { HiddenSelect } from '@ts/select';

function setPromo(value: string) {
	localStorage.setItem("promo", value);
	retrieveCurrentPromo();
	window.location.href = value;
}

function retrieveCurrentPromo() {
	const currentPromo = localStorage.getItem("promo");
	if (currentPromo) {
		select.setDefault(currentPromo);
		document.getElementById('currentPromo').innerHTML = `<a href=${currentPromo} >${currentPromo}</a>`;
	}
}

const select = new HiddenSelect('promoSelect', 'promoButton');
select.addShowButtonListener();
select.addChangeListener(setPromo);

retrieveCurrentPromo();

</script>

