---
import { Icon } from 'astro-icon/components';
---

<div id="promos">
  <label for="promoSelect" id="promoLabel">
    <span id="promoName">École</span>
	  <button class="link" title="Changer de promotion">
      <Icon name="caret-down" />
	  </button>
	</label>
  <select name="promoSelect" id="promoSelect" class="hidden">
		<optgroup label="Aucune">
  	  <option value="/">Sélectionner</option>
		<optgroup label="EPSI">
  	  <option value="/epsi/b3">B3</option>
  	  <option value="/epsi/i1">I1</option>
  	  <option value="/epsi/i2">I2</option>
		</optgroup>
		<optgroup label="ESGI">
  	  <option value="/esgi/b2">B2</option>
  	  <option value="/esgi/b3">B3</option>
  	  <option value="/esgi/m1">M1</option>
  	  <option value="/esgi/m2">M2</option>
		</optgroup>
		<optgroup label="CESI">
  	  <option value="/cesi/b3/tests">CDA25</option>
  	  <option value="/cesi/b3/linux">B3 ASR</option>
  	  <option value="/cesi/m1/dashboard">MAALSI25</option>
  	  <option value="/cesi/m2">MAALSI24</option>
		</optgroup>
  </select>
</div>

<script>

function setPromo() {
	const value = (event.target as HTMLSelectElement).value;
	localStorage.setItem('promo', value);
	window.location.href = value;
}

function retrieveCurrentPromo() {
	const currentPromo = localStorage.getItem('promo');
	if (currentPromo) {
		const promoNameElt = document.getElementById('promoName') as HTMLSelectElement;
		promoName.innerHTML = `<a href="${currentPromo}">${currentPromo}</a>`
	}
}

import { HiddenSelect } from '@ts/select';
const select = new HiddenSelect('promoSelect', 'promoLabel');
select.addShowButtonListener();
select.addChangeListener(setPromo);

// Runs on view transitions navigation
document.addEventListener('astro:after-swap', retrieveCurrentPromo);

retrieveCurrentPromo();

</script>
