---
import { Picture } from 'astro:assets';
import { Icon } from 'astro-icon/components';

const { width, height } = Astro.props;
type Props = {
	width: number,
	height: number,
};
---

<a href="/rss.xml"><Icon name="rss" alt="The RSS logo icon." width={width} height={height} /></a>
