<button id="show-slide" class="link slides-hidden">Mode slides</button>
<button id="slide-fullscreen" class="link">Fullscreen</button>

<script>
	const fullscreen = document.getElementById('slide-fullscreen');
	fullscreen.addEventListener('click', () => {
			document.getElementById('slides-content').requestFullscreen();
	});

  import { SlideShow } from '@ts/slides';

  let slideshow = null;

  function initSlides() {

		document.getElementById('slides-content').style.display = "block";

  	const newSlideShow = new SlideShow();

  	// Allow navigation with buttons and arrow keys
  	document.addEventListener("keydown", function(e) {
  		if (e.key === "ArrowRight") newSlideShow.nextSlide(); e.preventDefault();
  		if (e.key === "ArrowLeft") newSlideShow.prevSlide(); e.preventDefault();
  		if (e.key === "ArrowUp") newSlideShow.nextChapter(); e.preventDefault();
  		if (e.key === "ArrowDown") newSlideShow.prevChapter(false); e.preventDefault();
  	});

		return newSlideShow;
  }

  const element = document.getElementById("show-slide");
	const slides = document.getElementsByClassName('slide-elt');

  element.addEventListener('click', () => {
    if (element.classList.contains('slides-hidden')) {
  		// show slides
		  //Array.prototype.forEach.call(slides, it => it.style.display = "none");
		  Array.prototype.forEach.call(slides, it => it.classList.add('slide-mode'));
			if (!slideshow) {
				slideshow = initSlides();
			}
			slideshow.reset();
  		element.textContent = "Mode texte";
  	} else {
  		// show text
		  //Array.prototype.forEach.call(slides, it => it.style.display = "block");
		  Array.prototype.forEach.call(slides, it => it.classList.remove('slide-mode'));
  		element.textContent = "Mode slides";
  	};
  	element.classList.toggle("slides-hidden");
  });

</script>
