<div id="slides">
  <div id="slides-content">
		<!--
	  <div id="slide-buttons">
  	  <button class="prev" onclick="plusSlides(-1)">&#10094;</a>
  	  <button class="next" onclick="plusSlides(1)">&#10095;</a>
	  </div>
		<!-- <div id="slide-nb"> -->
		<!--   <span>Slide : </span> -->
		<!--   <span id="slide-nb-current">0</span> -->
		<!--   <span>/</span> -->
		<!--   <span id="slide-nb-total">0</span> -->
		<!-- </div> -->
	</div>


</div>

