<div id="slides">
  <div id="slides-content">
		<!--
	  <div id="slide-buttons">
  	  <button class="prev" onclick="plusSlides(-1)">&#10094;</a>
  	  <button class="next" onclick="plusSlides(1)">&#10095;</a>
	  </div>
		<!-- <div id="slide-nb"> -->
		<!--   <span>Slide : </span> -->
		<!--   <span id="slide-nb-current">0</span> -->
		<!--   <span>/</span> -->
		<!--   <span id="slide-nb-total">0</span> -->
		<!-- </div> -->
	</div>


</div>

<style>

/* From : https://www.w3schools.com/howto/howto_js_slideshow.asp */
/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;

	/* remove button style */
	border: none;
	background-color: inherit;
	text-decoration: none;
	color: var(--link);
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

#slides-content {

	display: none; /* By default, slide mode is not active */

	min-height: 90vh;
	min-width: 90vw;
	overflow: auto;
	position: relative;
	margin: auto;

	.slide-mode {
		font-size: 2em;

		position: absolute;
		min-height: 100%;
		min-width: 100%;

		display: none;
		margin: auto;
		padding: 20px;
		border: 1px solid var(--hr);
		border-radius: 10px;
	}

	hr {
		border:0px;
	}
}

</style>
