---

import { Icon } from 'astro-icon/components'

---

<div id="themeSwitch">
  <label for="themeSwitchSelect" id="themeSwitchButton">
	  <button class="link" title="Switch Style">
      <Icon name="material-symbols--invert-colors" />
	  </button>
	</label>
  <select name="themeSwitch" id="themeSwitchSelect" class="hidden">
		<optgroup label="Default">
  	  <option value="none">Aucun</option>
  	  <option value="system">Automatique</option>
		</optgroup>
		<optgroup label="Light">
		  <option value="github-light">Github</option>
  	  <option value="everforest-light">Everforest</option>
  	  <option value="gruvbox-light-medium">Gruvbox</option>
  	  <option value="one-light">One</option>
  	  <option value="rose-pine-dawn">Rosé Pine</option>
		</optgroup>
		<optgroup label="Dark">
  	  <option value="andromeeda">Andromeeda</option>
  	  <option value="ayu-dark">Ayu</option>
  	  <option value="catppuccin-mocha">Catppuccin</option>
  	  <option value="dracula">Dracula</option>
  	  <option value="gruvbox-dark-medium">Gruvbox</option>
  	  <option value="houston">Houston</option>
  	  <option value="kanagawa-dragon">Kanagawa</option>
  	  <option value="nord">Nord</option>
  	  <option value="poimandres">Poimandres</option>
  	  <option value="rose-pine">Rosé Pine</option>
  	  <option value="synthwave-84">Synthwave'84</option>
  	  <option value="the-unnamed">The Unnamed</option>
  	  <option value="tokyo-night">Tokyonight</option>
		</optgroup>
  </select>
</div>

<script>
const select = document.getElementById("themeSwitch") as HTMLSelectElement;
const themeSwitcherButton = document.getElementById("themeSwitchButton") as HTMLSelectElement;
const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
? "houston"
: "github-light";

function selectThemeButton() {
	var selectClass = document.getElementById("themeSwitchSelect").classList;
	if (selectClass.contains('hidden')) {
		selectClass.remove('hidden');
	} else {
		selectClass.add('hidden');
	}
}

function setTheme(value: string) {
	const theme = value === "system" ? systemTheme : value;
	document.documentElement.setAttribute('data-theme', theme);
	localStorage.setItem("theme", value);
}

function updateTheme() {
	const theme = localStorage.getItem("theme");

	// Update select value in UI
	if (theme !== null) {
		select.value = theme;
	} else {
		select.value = systemTheme;
	}

	// Set theme according to select value
	setTheme(select.value);
}

updateTheme();

select.addEventListener("change", (event: Event) => {
		const select = event.target as HTMLSelectElement;
		setTheme(select.value);
		});

// Runs on view transitions navigation
document.addEventListener('astro:after-swap', updateTheme);

themeSwitchButton.addEventListener("click", function() {
		selectThemeButton();
		});
</script>

