<div id="themeSwitch">
  <label for="themeSwitchSelect">Theme:</label>
  <select name="themeSwitch" id="themeSwitchSelect">
  	<option value="none">Aucun</option>
  	<option value="system">Automatique</option>
  	<option value="github-light">Github Light</option>
  	<option value="everforest-light">Everforest Light</option>
  	<option value="one-light">One Light</option>
  	<option value="ayu-dark">Ayu Dark</option>
  	<option value="catppuccin-mocha">Catppuccin</option>
  	<option value="dracula">Dracula</option>
  	<option value="kanagawa-dragon">Kanagawa</option>
  	<!--<option value="laserwave">Laserwave</option>-->
  	<option value="houston">Houston</option>
  	<option value="nord">Nord</option>
  	<!--<option value="rose-pine">Rosé Pine</option>-->
  	<option value="synthwave-84">Synthwave'84</option>
  	<option value="the-unnamed">The Unnamed</option>
  	<!--<option value="tokyo-night">Tokyonight</option>-->
  	<!--<option value="vesper">Vesper</option>-->
  </select>
</div>

<script>
const select = document.getElementById("themeSwitch") as HTMLSelectElement;
const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
	? "houston"
	: "github-light";

function setTheme(value: string) {
	const theme = value === "system" ? systemTheme : value;
	document.documentElement.setAttribute('data-theme', theme);
	localStorage.setItem("theme", value);
}

function updateTheme() {
	const theme = localStorage.getItem("theme");

	// Update select value in UI
	if (theme !== null) {
		select.value = theme;
	} else {
		select.value = systemTheme;
	}

	// Set theme according to select value
	setTheme(select.value);
}

updateTheme();

select.addEventListener("change", (event: Event) => {
	const select = event.target as HTMLSelectElement;
	setTheme(select.value);
});

// Runs on view transitions navigation
document.addEventListener('astro:after-swap', updateTheme);
</script>

