<select name="themeSwitch" id="themeSwitch">
	<option value="none">Aucun</option>
	<option value="system">Automatique</option>
	<option value="github">Github Light (défaut clair)</option>
	<option value="everforest">Everforest Light</option>
	<option value="one">One Light</option>
	<option value="ayu">Ayu Dark</option>
	<option value="catppuccin">Catppuccin</option>
	<option value="dracula">Dracula</option>
	<option value="kanagawa">Kanagawa</option>
	<option value="laserwave">Laserwave</option>
	<option value="houston">Houston (défaut sombre)</option>
	<option value="nord">Nord</option>
	<option value="rose">Rosé Pine</option>
	<option value="synthwave">Synthwave'84</option>
	<option value="the-unnamed">The Unnamed</option>
	<option value="tokyonight">Tokyonight</option>
	<option value="vesper">Vesper</option>
</select>

<script>
const select = document.getElementById("themeSwitch") as HTMLSelectElement;
const systemTheme = window.matchMedia("(prefers-color-scheme: dark)").matches
	? "houston"
	: "github";

function setTheme(value: string) {
	const theme = value === "system" ? systemTheme : value;
	document.documentElement.setAttribute('data-theme', theme);
	localStorage.setItem("theme", value);
}

function updateTheme() {
	const theme = localStorage.getItem("theme");

	// Update select value in UI
	if (theme !== null) {
		select.value = theme;
	} else {
		select.value = systemTheme;
	}

	// Set theme according to select value
	setTheme(select.value);
}

updateTheme();

select.addEventListener("change", (event: Event) => {
	const select = event.target as HTMLSelectElement;
	setTheme(select.value);
});

// Runs on view transitions navigation
document.addEventListener('astro:after-swap', updateTheme);
</script>

