<div id="toc">
  <h2>
  	Chapitres
		<!-- <button id="toc-toggle">Collapse</button> -->
	</h2>
	<nav>
		<ul/>
	</nav>
</div>

<script>
	import { TOC } from "@ts/toc";
	document.addEventListener('DOMContentLoaded', () => {
			const toc = new TOC('#toc ul', '#course', 3);
			toc.init();
	});

  // toggle button
	const btn = document.getElementById('toc-toggle');
	const nav = document.getElementById('toc');
	btn.addEventListener('click', () => {
			nav.classList.toggle('collapsed');
	});
</script>

