<div id="toc">
  <h2>
  	Chapitres
	</h2>
	<nav aria-label="Table des matières">
		<ul/>
	</nav>
</div>

<script>
	import { TOC } from "@ts/toc";
	document.addEventListener('DOMContentLoaded', () => {
			const toc = new TOC('#toc ul', '#course-content', 3);
			toc.init();
	});

  // toggle button
	const btn = document.getElementById('toc-toggle');
	const caret_hide = document.getElementById('toc-caret-hide');
	const caret_show = document.getElementById('toc-caret-show');
	const header = document.getElementById('course-header');
	const content = document.getElementById('course-content');
	btn.addEventListener('click', () => {
			header.classList.toggle('hidden');
			// Hide buttons
			caret_hide.classList.toggle('hidden');
			caret_show.classList.toggle('hidden');

			// No more TOC - Back to 100% of the viewport
			if ( header.classList.contains('hidden') ) {
				content.style.maxWidth = '100vw';
			} else {
				content.style.maxWidth = '80vw';
			}
	});
</script>

<style>

#toc {
	& a {
		transition: color .5s;

		& .active {
			color: var(--link-visited);
		}
	}

	& li {
		list-style:none;
	}

	& .toc-h1 {
		font-weight: bold;
	}

	& .toc-h3, .toc-h4, .toc-h5, .toc-h6 {
		font-style: italic;
	}
}

</style>

