/******************************************************************************/
/*                                   THEMES                                   */
/******************************************************************************/

:root {
	color-scheme: light dark;
	--light-main: #fff;
	--light-second: #e5e9f0;
	--dark-main: #1f2833;
	--dark-second: #3b4252;
	--light-blue: #80d2e5;
	--dark-blue: #00598b;
	--x-light-green: #007b7b26;
	--bright-green: #38ec84;
	--light-green: #008080;
	--middle-green: #3bc4ab;
	--dark-green: #117489;
	--light-orange: #ff9e48;
	--middle-orange: #bd510f;
	--dark-orange: #8B4513;
	--light-red: #d48ead;
	--middle-red: #a6476b;
	--dark-red: #8a0912;
	--light-yellow: #ffe084;
	--light-grey: #bbb;
	--middle-grey: #c28e91;
	--dark-grey: grey;
	--salmon: #ff7c7c;
	--dark-link: #09D4FF; /* #4da6ff;*/
}

[data-theme="light"] {
	--background: var(--light-main);
	--text: var(--dark-main);
	--link: inherit;
	--link-hover: inherit;
	--link-border: var(--dark-blue);
	--h1: var(--dark-red);
	--h2: var(--middle-orange);
	--h3: var(--light-green);
	--h4: var(--middle-red);
	--hr: var(--light-grey);
	--menu-home: var(--dark-red);
	--menu-tech: var(--dark-blue);
	--menu-cours: var(--dark-orange);
	--menu-website: var(--light-green);
	--menu-links: var(--middle-red);
	--menu-about: var(--middle-orange);
	--menu-search: var(--dark-green);
	--promo-link: inherit;
	--promo-background: var(--light-second);
	--epsi: var(--dark-blue);
	--epsi-li: inherit;
	--esgi: var(--light-green);
	--esgi-li: inherit;
	--cesi: var(--middle-red);
	--cesi-li: inherit;
	--wis: var(--dark-second);
	--wis-li: inherit;
	--poec: var(--middle-orange);
	--poec-li: inherit;
	--cours-cat-li: var(--x-light-green);
	--cours-link-text: var(--dark-main);
	--cours-link-border: var(--light-grey);
	--versioning: var(--light-grey);
	--select-color: var(--dark-grey);
	--mermaid-title: var(--middle-orange);
}

[data-theme="dark"] {
	--background: var(--dark-main);
	--text: var(--light-main);
	--link: var(--dark-link);
	--link-hover: var(--light-red);
	--link-border: inherit;
	--h1: var(--middle-grey);
	--h2: var(--light-yellow);
	--h3: var(--middle-green);
	--h4: var(--light-red);
	--hr: var(--light-grey);
	--menu-home: var(--salmon);
	--menu-tech: var(--light-blue);
	--menu-cours: var(--light-yellow);
	--menu-website: var(--middle-green);
	--menu-links: var(--light-red);
	--menu-about: var(--light-orange);
	--menu-search: var(--bright-green);
	--promo-link: var(--dark-main);
	--promo-background: var(--light-second);
	--epsi: var(--light-blue);
	--epsi-li: var(--light-blue);
	--esgi: var(--bright-green);
	--esgi-li: var(--bright-green);
	--cesi: var(--light-red);
	--cesi-li: var(--light-red);
	--wis: var(--light-second);
	--wis-li: var(--light-second);
	--poec: var(--light-orange);
	--poec-li: var(--light-orange);
	--cours-cat-li: var(--middle-green);
	--cours-link-text: var(--light-main);
	--cours-link-border: var(--dark-grey);
	--versioning: var(--light-grey);
	--select-color: var(--light-main);
	--mermaid-title: var(--light-yellow);

	/* li is not set on light mode to avoir breaking inheritance */
	#epsi li { background: var(--epsi-li); }
	#esgi li { background: var(--esgi-li); }
	#cesi li { background: var(--cesi-li); }
	#wis li { background: var(--wis-li); }
	#poec li { background: var(--poec-li); }

}

[data-theme="nord"] {
	/* Based on the Nord Theme : https://www.nordtheme.com/docs/colors-and-palettes */
	--background: #2e3440;
	--text: #eceff4;
	--link: #88c0d0;
	--link-hover: #88c0d0;
	--link-border: inherit;
	--h1: #e5e9f0;
	--h2: #e5e9f0;
	--h3: #d8dee9;
	--h4: #d8dee9;
	--hr: #d8dee9;
	--menu-home: #88c0d0;
	--menu-tech: #88c0d0;
	--menu-cours: #88c0d0;
	--menu-website: #88c0d0;
	--menu-links: #88c0d0;
	--menu-about: #88c0d0;
	--menu-search: #88c0d0;
	--promo-link: #2e3440;
	--promo-background: #d8dee9;
	--epsi: #88c0d0;
	--epsi-li: #88c0d0;
	--esgi: #88c0d0;
	--esgi-li: #88c0d0;
	--cesi: #88c0d0;
	--cesi-li: #88c0d0;
	--wis: #88c0d0;
	--wis-li: #88c0d0;
	--poec: #88c0d0;
	--poec-li: #88c0d0;
	--cours-cat-li: #eceff4;
	--cours-link-text: #2e3440;
	--cours-link-border: #2e3440;
	--versioning: #b48ead;
	--select-color: #88c0d0;
	--mermaid-title: #e5e9f0;

	/* li is not set on light mode to avoir breaking inheritance */
	#epsi li { background: var(--epsi-li); }
	#esgi li { background: var(--esgi-li); }
	#cesi li { background: var(--cesi-li); }
	#wis li { background: var(--wis-li); }
	#poec li { background: var(--poec-li); }

}

[data-theme="catpuccin"] {
	/* Based on the Catpuccin Mocha flavor : https://catppuccin.com/palette */
	--background: #1e1e2e;
	--text: #cdd6f4;
	--link: #89dceb;
	--link-hover: #f2cdcd;
	--link-border: inherit;
	--h1: #f5c2e7;
	--h2: #f9e2af;
	--h3: #a6e3a1;
	--h4: #f38ba8;
	--hr: #9399b2;
	--menu-home: #f2cdcd;
	--menu-tech: #89dceb;
	--menu-cours: #f9e2af;
	--menu-website: #a6e3a1;
	--menu-links: #f38ba8;
	--menu-about: #fab387;
	--menu-search: #94e2d5;
	--promo-link: #11111b;
	--promo-background: #bac2de;
	--epsi: #89b4fa;
	--epsi-li: #89b4fa;
	--esgi: #a6e3a1;
	--esgi-li: #a6e3a1;
	--cesi: #f38ba8;
	--cesi-li: #f38ba8;
	--wis: #bac2de;
	--wis-li: #bac2de;
	--poec: #fab387;
	--poec-li: #fab387;
	--cours-cat-li: #94e2d5;
	--cours-link-text: #1e1e2e;
	--cours-link-border: #7f849c;
	--versioning: #a6adc8;
	--select-color: #89b4fa;
	--mermaid-title: #f9e2af;

	/* li is not set on light mode to avoir breaking inheritance */
	#epsi li { background: var(--epsi-li); }
	#esgi li { background: var(--esgi-li); }
	#cesi li { background: var(--cesi-li); }
	#wis li { background: var(--wis-li); }
	#poec li { background: var(--poec-li); }

}

/******************************************************************************/
/*                                    MAIN                                    */
/******************************************************************************/

*,
*::before,
*::after {
	/* Reset all styles */
  box-sizing: border-box;
}

a {
	text-decoration: none;
	border-bottom: 1px dashed var(--link-border);
}

a:link { color: var(--link); }

a:hover, a:active {
	color: var(--link-hover);
	border: 3px solid;
}

ul{ list-style:circle }

li:has(> a) {
	margin: 1em;
}
@media (any-pointer: coarse) {
	li > a {
		font-size: x-large;
	}
}

body {
	background: var(--background);
	color: var(--text);
}

h1 { color: var(--h1); }
h2 { color: var(--h2); }
h3 { color: var(--h3); }
h4 { color: var(--h4); }

hr {
	border:0px;
	border-top:1px solid var(--hr);
}

footer {
	font-style: italic;
	font-size: x-small;
}

#content {
	margin: auto;
	max-width: 960px;
}

figcaption {
	font-style: italic;
	font-size: small;
}

[data-tooltip] {
	font-size: small;
}

[data-tooltip]:hover::after {
  display: block;
  content: attr(data-tooltip);
	font-size: medium;
}

menu > li {
	display: inline-block;
	padding-left: 1em;
	font-size: x-large;
}

#menu-home > a { color: var(--menu-home); }
#menu-tech > a { color: var(--menu-tech); }
#menu-cours > a { color: var(--menu-cours); }
#menu-website > a { color: var(--menu-website); }
#menu-links > a { color: var(--menu-links); }
#menu-about > a { color: var(--menu-about); }
#menu-search > a { color: var(--menu-search); }

#promos {
	text-align: center;
	margin-bottom: 5%;
}

#promos:after {
	content: "";
	display: table;
	clear: both;
}

.column-promo {
	font-size: 1.5em;
	float: left;
	width: 23%;
	margin: 5%;
	text-align: center;
}
@media screen and (max-width: 800px) {
	.column-promo {
		width: 100%;
		display: block;
	}
}

.column-promo h3 { color: inherit; }
.column-promo a { color: var(--promo-link); }

.column-promo a:hover { border: none; }

.column-promo li {
	list-style:none;
	border-radius: 15px 40px;
	padding: 20px;
	background: var(--promo-background);
}

#epsi { color: var(--epsi); }
#esgi { color: var(--esgi); }
#cesi { color: var(--cesi); }
#wis { color: var(--wis); }
#poec { color: var(--poec); }

#cours-cat {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	-moz-column-gap: 5%;
	-webkit-column-gap: 5%;
	column-gap: 5%;
	text-align: center;
	margin-bottom: 10%;
}
@media screen and (max-width: 1200px) {
	#cours-cat {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}
@media screen and (max-width: 800px) {
	#cours-cat {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
}

#cours-cat li {
	font-size: 1.3em;
	list-style:none;
	border-radius: 30px;
	padding: 20px;
	background: var(--cours-cat-li);
}

#cours-cat a {
	color: var(--cours-link-text);
	border-bottom: 2px var(--cours-link-border) dashed;
}

#cours-cat a:hover { border: none; }

.versioning {
	font-style: italic;
	color: var(--versioning);
}

@media (prefers-color-scheme: dark) {

	a:link {
		border-bottom: 2px dashed;
	}

	a:hover, a:active {
		border: 2px solid;
	}

}

select {
	color: var(--select-color);
	background-color: var(--background);
	border: none;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;

	@media (min-width: 768px) { width: 70%; }
	@media (min-width: 992px) { width: 50%; }
	@media (min-width: 1200px) { width: 30%; }
}

#themeSwitch { width: min-content; }

/* Mermaid diagrams title */
.flowchartTitleText { fill: var(--mermaid-title); }

/******************************************************************************/
/*                                    TODO                                    */
/******************************************************************************/


 /* .pagefind-ui { */
 /*    --pagefind-ui-scale: 0.75; */
 /*    --pagefind-ui-primary: navy; */
 /*    --pagefind-ui-text: black; */
 /*    --pagefind-ui-border: slategrey; */
 /*    --pagefind-ui-border-width: 1px; */
 /*    --pagefind-ui-border-radius: 0.25rem; */
 /*    --pagefind-ui-font: sans-serif; */
 /**/
 /*    /* width: 50%; */ */
 /*  } */

body.dark {
  --pagefind-ui-primary: #eeeeee;
  --pagefind-ui-text: #eeeeee;
  --pagefind-ui-background: #152028;
  --pagefind-ui-border: #152028;
  --pagefind-ui-tag: #152028;
}

 /* .pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) { */
 /*    position: absolute; */
 /*    left: 0; */
 /*    right: 0; */
 /*    margin-top: 0px; */
 /*    z-index: 9999; */
 /*    padding: 0 2em 1em; */
 /*    overflow-y: auto; */
 /*    box-shadow: */
 /*      0 10px 10px -5px rgba(0, 0, 0, 0.2), */
 /*      0 2px 2px 0 rgba(0, 0, 0, 0.1); */
 /*    border-bottom-right-radius: var(--pagefind-ui-border-radius); */
 /*    border-bottom-left-radius: var(--pagefind-ui-border-radius); */
 /*    background-color: var(--pagefind-ui-background); */
 /*  } */
 /**/
 /*  .pagefind-ui .pagefind-ui__result-link { */
 /*    /* color: var(--pagefind-ui-primary); */ */
 /* /* color: yellow; */ */
 /*  } */
 /**/
 /*  .pagefind-ui .pagefind-ui__result-excerpt { */
 /*    /* color: var(--pagefind-ui-text); */ */
 /* color: red; */
 /*  } */


.material-symbols-light--dark-mode {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.058 20q-3.334 0-5.667-2.333T4.058 12q0-3.039 1.98-5.27t4.904-2.634q.081 0 .159.006t.153.017q-.506.706-.801 1.57T10.158 7.5q0 2.667 1.866 4.533t4.534 1.867q.951 0 1.813-.295t1.548-.801q.012.075.017.153t.006.159q-.384 2.923-2.615 4.903T12.057 20'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.material-symbols-light--dark-mode-outline {
  display: inline-block;
  width: 24px;
  height: 24px;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12.058 20q-3.334 0-5.667-2.333T4.058 12q0-3.039 1.98-5.27t4.904-2.634q.081 0 .159.006t.153.017q-.506.706-.801 1.57T10.158 7.5q0 2.667 1.866 4.533t4.534 1.867q.951 0 1.813-.295t1.548-.801q.012.075.017.153t.006.159q-.384 2.923-2.615 4.903T12.057 20m0-1q2.2 0 3.95-1.213t2.55-3.162q-.5.125-1 .2t-1 .075q-3.074 0-5.237-2.162T9.158 7.5q0-.5.075-1t.2-1q-1.95.8-3.163 2.55T5.058 12q0 2.9 2.05 4.95t4.95 2.05m-.25-6.75'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

a.add-bookmark {
	text-decoration: none;
	border: none;
}

.icon-link{
	background:url('data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgd2lkdGg9IjI0IiAgaGVpZ2h0PSIyNCIgIHZpZXdCb3g9IjAgMCAyNCAyNCIgIGZpbGw9Im5vbmUiICBzdHJva2U9ImN1cnJlbnRDb2xvciIgIHN0cm9rZS13aWR0aD0iMiIgIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgIHN0cm9rZS1saW5lam9pbj0icm91bmQiICBjbGFzcz0iaWNvbiBpY29uLXRhYmxlciBpY29ucy10YWJsZXItb3V0bGluZSBpY29uLXRhYmxlci1zdGFyIj48cGF0aCBzdHJva2U9Im5vbmUiIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48cGF0aCBkPSJNMTIgMTcuNzVsLTYuMTcyIDMuMjQ1bDEuMTc5IC02Ljg3M2wtNSAtNC44NjdsNi45IC0xbDMuMDg2IC02LjI1M2wzLjA4NiA2LjI1M2w2LjkgMWwtNSA0Ljg2N2wxLjE3OSA2Ljg3M3oiIC8+PC9zdmc+');
	background-size:cover;
	position:absolute;
	width:20px;
	height:20px;
}

.icon-link:hover {
	background:url('data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgd2lkdGg9IjI0IiAgaGVpZ2h0PSIyNCIgIHZpZXdCb3g9IjAgMCAyNCAyNCIgIGZpbGw9ImN1cnJlbnRDb2xvciIgIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb25zLXRhYmxlci1maWxsZWQgaWNvbi10YWJsZXItc3RhciI+PHBhdGggc3Ryb2tlPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTguMjQzIDcuMzRsLTYuMzggLjkyNWwtLjExMyAuMDIzYTEgMSAwIDAgMCAtLjQ0IDEuNjg0bDQuNjIyIDQuNDk5bC0xLjA5IDYuMzU1bC0uMDEzIC4xMWExIDEgMCAwIDAgMS40NjQgLjk0NGw1LjcwNiAtM2w1LjY5MyAzbC4xIC4wNDZhMSAxIDAgMCAwIDEuMzUyIC0xLjFsLTEuMDkxIC02LjM1NWw0LjYyNCAtNC41bC4wNzggLS4wODVhMSAxIDAgMCAwIC0uNjMzIC0xLjYybC02LjM4IC0uOTI2bC0yLjg1MiAtNS43OGExIDEgMCAwIDAgLTEuNzk0IDBsLTIuODUzIDUuNzh6IiAvPjwvc3ZnPg==');
}

.bookmarked {
	background:url('data:image/svg+xml;base64,PHN2ZyAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgd2lkdGg9IjI0IiAgaGVpZ2h0PSIyNCIgIHZpZXdCb3g9IjAgMCAyNCAyNCIgIGZpbGw9ImN1cnJlbnRDb2xvciIgIGNsYXNzPSJpY29uIGljb24tdGFibGVyIGljb25zLXRhYmxlci1maWxsZWQgaWNvbi10YWJsZXItc3RhciI+PHBhdGggc3Ryb2tlPSJub25lIiBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTguMjQzIDcuMzRsLTYuMzggLjkyNWwtLjExMyAuMDIzYTEgMSAwIDAgMCAtLjQ0IDEuNjg0bDQuNjIyIDQuNDk5bC0xLjA5IDYuMzU1bC0uMDEzIC4xMWExIDEgMCAwIDAgMS40NjQgLjk0NGw1LjcwNiAtM2w1LjY5MyAzbC4xIC4wNDZhMSAxIDAgMCAwIDEuMzUyIC0xLjFsLTEuMDkxIC02LjM1NWw0LjYyNCAtNC41bC4wNzggLS4wODVhMSAxIDAgMCAwIC0uNjMzIC0xLjYybC02LjM4IC0uOTI2bC0yLjg1MiAtNS43OGExIDEgMCAwIDAgLTEuNzk0IDBsLTIuODUzIDUuNzh6IiAvPjwvc3ZnPg==');
}
