---
import Layout from '@layouts/EpsiLayout.astro';
---

<Layout promo="I2" agenda="https://acloud5.zaclys.com/index.php/apps/calendar/p/TT8pXKbtS9BMJ27y">

	<h2>Modules</h2>

	<ul>
		<li><a href="/epsi/i2/cdc">📒 Cahier des charges techniques et fonctionnelles</a></li>
		<li><a href="/epsi/i2/k8s">󱃾 Kubernetes (Filière EISI)</a></li>
		<li><a href="/epsi/i2/openfaas">λ OpenFaaS (Filière EISI)</a></li>
	</ul>

</Layout>

