---
import Layout from '@layouts/PromoLayout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Modules EPSI I2" mail="tom.avenel@mail-formateur.net" agenda="https://acloud5.zaclys.com/index.php/apps/calendar/p/TT8pXKbtS9BMJ27y">

	<h2>Modules</h2>

	<ul>
		<li><a href="/epsi/i2/cdc"><Icon name="journals" /> Cahier des charges techniques et fonctionnelles</a></li>
		<li><a href="/epsi/i2/k8s"><Icon name="kubernetes" /> Kubernetes (Filière EISI)</a></li>
		<li><a href="/epsi/i2/openfaas"><Icon name="lambda" /> OpenFaaS (Filière EISI)</a></li>
	</ul>

	<h2>Anciens Modules</h2>

	<ul>
		<li><a href="/epsi/i2/distanciel"><Icon name="people" /> Partage d'informations et collaboration à distance</a></li>
		<li><a href="/epsi/i2/multiculturel"><Icon name="globe-americas" /> Manager une équipe multiculturelle</a></li>
	</ul>

</Layout>

