---
import Layout from '@layouts/PromoLayout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Modules ESGI M1" mail="tavenel@myges.fr" agenda="https://acloud5.zaclys.com/index.php/apps/calendar/p/x5PQaEqx48942tcy">

	<h2>Modules</h2> 

	<ul>
		<li><a href="/esgi/m1/devops-src"><Icon name="kubernetes" /> Conteneurs et Devops (Filière SRC)</a></li>
		<li><a href="/esgi/m1/lpic-2"><Icon name="linux" /> LPIC-2 (Filière SRC)</a></li>
		<li><a href="/esgi/m1/cicd"><Icon name="jenkins" /> Intégration et Déploiement Continu (Filières IW & IABD)</a></li>
		<li><a href="/esgi/m1/docker"><Icon name="docker" /> Conteneurisation Docker (Filière AL & IW & IABD)</a></li>
	</ul>

	<h2>Anciens Modules</h2> 

	<ul>
		<li><a href="/esgi/m1/devops-ci"><Icon name="infinity" /> Devops - Orchestration de conteneurs et intégration continue (Filière AL)</a></li>
		<li><a href="/esgi/m1/tests-ci"><Icon name="test-tube-solid" /> Tests et Automatisations (Filière IW)</a></li>
	</ul>

</Layout>

