---
import Layout from '@layouts/PromoLayout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Modules EPSI I1" mail="tom.avenel@mail-formateur.net" agenda="https://acloud5.zaclys.com/index.php/apps/calendar/p/8psA7rDRNpHir36k">

	<h2>Modules I1 EISI</h2>

	<ul>
		<li><a href="/epsi/i1/tests-auto"><Icon name="test-tube-solid" /> Automatisation des tests</a></li>
		<li><a href="/epsi/i1/ci"><Icon name="jenkins" /> Serveurs d'intégration continue (CI/CD)</a></li>
	</ul>

</Layout>

