---
import Layout from '@layouts/EsgiLayout.astro';
---

<Layout promo="B2" agenda="https://acloud5.zaclys.com/index.php/apps/calendar/p/iDfieS3dc5GCkbnj">

	<h2>Anciens Modules</h2>

	<ul>
		<li><a href="/esgi/b2/gestion-projet">📅 Introduction à la gestion de projet</a></li>
		<li><a href="/esgi/b2/git-github">󰊤  Versioning avec Git et Github</a></li>
		<li><a href="/esgi/b2/docker">  Conteneurisation Docker</a></li>
	</ul>

</Layout>

