---
import Layout from '@layouts/PromoLayout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Modules ESGI B2" mail="tavenel@myges.fr" agenda="https://acloud5.zaclys.com/index.php/apps/calendar/p/iDfieS3dc5GCkbnj">

	<h2>Modules</h2>

	<ul>
		<li><a href="/esgi/b2/docker"><Icon name="docker" /> Conteneurisation Docker</a></li>
	</ul>

	<h2>Anciens Modules</h2>

	<ul>
		<li><a href="/esgi/b2/gestion-projet"><Icon name="calendar-date" /> Introduction à la gestion de projet</a></li>
		<li><a href="/esgi/b2/git-github"><Icon name="git" /> Versioning avec Git et Github</a></li>
	</ul>

</Layout>

