---
import { Analytics } from '@vercel/analytics/next';

import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import AddFavorite from '@components/AddFavorite.astro';

const { title, url } = Astro.props;
---

<!doctype html>
<html lang="en">
	<Head title={title} url={url}/>
	<body>
		<Header />
		<main id="main">
			<slot />
		</main>
		<Footer />
		<AddFavorite />
		<Analytics />
	</body>
</html>

