---
import Diagrams from '@components/Diagrams.astro';
const { frontmatter, url } = Astro.props;
---

<div>
  { frontmatter?.title && (
    <h1>{frontmatter.title}</h1>
	) }
	<slot />
	<Diagrams
		mermaid={ frontmatter.extra?.includes('mermaid') }
	/>
</div>
