---
import Layout from '@layouts/PromoLayout.astro';
import { Icon } from 'astro-icon/components';
---

<Layout title="Modules ESGI B3" mail="tavenel@myges.fr" agenda="https://acloud5.zaclys.com/index.php/apps/calendar/p/ZHd7sgWTNbAnpa5A">

<h2>Filières Architecture Logicielle (AL) et Ingénieurie Web (IW)</h2> 

	<ul>
		<li><a href="/esgi/b3/tests"><Icon name="test-tube-solid" /> Tests unitaires et logiciels</a></li>
	</ul>

<h2>Anciens Modules</h2> 

	<ul>
		<li><a href="/esgi/b3/docker"><Icon name="docker" /> Docker avancé (Filières IW & AL)</a></li>
		<li><a href="/esgi/b3/linux-dev"><Icon name="linux" /> Linux orienté développeurs (Filières IW & AL)</a></li>
		<li><a href="/esgi/b3/git-admin"><Icon name="git" /> Versioning Git pour l'administrateur (Filière SRC)</a></li>
		<li><a href="/esgi/b3/lpic-1"><Icon name="linux" /> Linux administration avancée LPIC-1 (Filières SRC & SI)</a></li>
	</ul>

</Layout>

