---
import Layout from '@layouts/BaseLayout.astro';
---

<Layout>

	<h1>Promotions ESGI</h1>

  <h2>Promotions</h2>

	<ul>
		<li><a href="/esgi/b2/">B2</a></li>
		<li><a href="/esgi/b3/">B3</a></li>
		<li><a href="/esgi/m1/">M1</a></li>
		<li><a href="/esgi/m2/">M2</a></li>
	</ul>

</Layout>

